<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:form id="fmnu">
        <p:menubar>
            <p:submenu label="Navegación" icon="ui-icon-copy">
                <p:submenu label="Usuarios" rendered="#{ctrlMain.showElement('1,2')}">
                    <p:menuitem value="Perfiles" action="/profiles/profiles" icon="ui-icon-key" rendered="#{ctrlMain.showElement('1')}"/>
                    <p:menuitem value="Usuarios" action="/users/users" icon="ui-icon-person" rendered="#{ctrlMain.showElement('2')}"/>
                </p:submenu>
                <p:submenu label="Bases de datos" rendered="#{ctrlMain.showElement('4,5')}">
                    <p:menuitem value="Conexión SAP" action="/sap_conn/sapconn" icon="ui-icon-transferthick-e-w" rendered="#{ctrlMain.showElement('4')}"/>
                    <p:menuitem value="Administración local" action="/local_manage/localmanage" icon="ui-icon-gear" rendered="#{ctrlMain.showElement('5')}"/>
                </p:submenu>
                <p:submenu label="Datos SAP" rendered="#{ctrlMain.showElement('6,7')}">
                    <p:menuitem value="Tablas SAP" action="/sap_tables/saptables" icon="ui-icon-document" rendered="#{ctrlMain.showElement('6')}"/>
                    <p:menuitem value="Campos SAP" action="/sap_fields/sapfields" icon="ui-icon-document" rendered="#{ctrlMain.showElement('7')}"/>
                </p:submenu>
                <p:submenu label="LSMW" rendered="#{ctrlMain.showElement('8,9')}">
                    <p:menuitem value="Layouts LSMW" action="/lsmws/lsmws" icon="ui-icon-document" rendered="#{ctrlMain.showElement('8')}"/>
                    <p:menuitem value="Campos LSMW" action="/lsmw_fields/lsmwfields" icon="ui-icon-document" rendered="#{ctrlMain.showElement('9')}"/>
                </p:submenu>
                <p:submenu label="Mapeo" rendered="#{ctrlMain.showElement('10,11')}">
                    <p:menuitem value="Mapeo" action="/mapping/mapping" icon="ui-icon-shuffle" rendered="#{ctrlMain.showElement('10')}"/>
                    <p:menuitem value="Reglas" action="/rules/rules" icon="ui-icon-check" rendered="#{ctrlMain.showElement('11')}"/>
                </p:submenu>
                <p:submenu label="Depuración" rendered="#{ctrlMain.showElement('12,13')}">
                    <p:menuitem value="Descarga layout" action="/download_layouts/downloadlayouts" icon="ui-icon-circle-arrow-s" rendered="#{ctrlMain.showElement('12')}"/>
                    <p:menuitem value="Carga layout" action="/upload_layouts/uploadlayouts" icon="ui-icon-circle-arrow-n" rendered="#{ctrlMain.showElement('13')}"/>
                </p:submenu>
            </p:submenu>
            
            <p:menuitem value="Inicio" action="/main/main" icon="ui-icon-home" />
            
            <f:facet name="options">
                <p:outputLabel value="#{ctrlMain.name}" />
                <p:outputLabel value="   " />
                <p:commandButton value="Salir" action="#{ctrlMain.logout()}" icon="ui-icon-closethick" />
            </f:facet>
        </p:menubar>
    </h:form>
    <hr></hr>
</html>

