<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Users</title>
    </h:head>
    <h:body>
        <ui:include src="/main/menu.xhtml" />
        <h3>Usuarios</h3>
        
        <p:fieldset legend="Agregar" collapsed="true" toggleable="true" toggleSpeed="500">
            <h:form id="frm_user">
                <p:outputLabel value="Nuevo usuario "/>
                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputLabel for="name" value="Nombre:" />
                    <p:inputText id="name" value="#{ctrlUsers.name}" required="true" label="Nombre" />

                    <h:outputLabel for="user" value="Usuario:" />
                    <p:inputText id="user" value="#{ctrlUsers.user}" required="true" label="Usuario" />

                    <h:outputLabel for="passwd" value="Contraseña:" />
                    <p:password id="passwd" value="#{ctrlUsers.passwd}" required="true" label="Contraseña" />

                    <p:outputLabel for="profile" value="Perfil:" />
                    <p:selectOneMenu id="profile" value="#{ctrlUsers.id_profile}" dynamic="true" style="width:125px">
                        <f:selectItem itemLabel="Elegir" itemValue="" />
                        <f:selectItems value="#{ctrlUsers.profiles}" var="p" itemValue="#{p.id}" itemLabel="#{p.name}" />
                    </p:selectOneMenu>

                    <p:commandButton id="btnGuardar" value="Guardar" action="#{ctrlUsers.addUser()}" update="frm_users" icon="ui-icon-plus" title="Guardar" />
                </h:panelGrid>
            </h:form>
        </p:fieldset>
        
        <br></br>
        <br></br>
        
        <h:form id="frm_users">
            <p:growl id="msgs" showDetail="true"/>
            <p:dataTable id="users" var="us" value="#{ctrlUsers.users}" editable="true" style="margin-bottom:20px">
                <f:facet name="header">Lista de usuarios</f:facet>
                <p:ajax event="rowEdit" listener="#{ctrlUsers.updUser}" update=":frm_users:msgs" />
                <p:ajax event="rowEditCancel" listener="#{ctrlUsers.onRowCancel}" update=":frm_users:msgs" />
                
                <p:column headerText="Nombre" filterBy="#{us.name}" filterMatchMode="contains">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{us.name}" /></f:facet>
                        <f:facet name="input"><p:inputText value="#{us.name}" style="width:100%" label="Nombre"/></f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Usuario" filterBy="#{us.user}" filterMatchMode="contains">
                    <h:outputText value="#{us.user}" />
                </p:column>
                
                <p:column headerText="Perfil" filterBy="#{us.profile}" filterMatchMode="contains">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{us.profile}" /></f:facet>
                        <f:facet name="input">
                            <p:selectOneMenu value="#{us.id_profile}" style="width:100%">
                                <f:selectItems value="#{ctrlUsers.profiles}" var="p" itemValue="#{p.id}" itemLabel="#{p.name}" />
                            </p:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Contraseña">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="" /></f:facet>
                        <f:facet name="input"><p:password value="#{us.passwd}" style="width:100%" label="Contraseña"/></f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column style="width:35px">
                    <p:rowEditor />  
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{us.id}" style="display:none" /></f:facet>
                        <f:facet name="input"><p:inputText id="modelInput" value="#{us.id}" style="display:none; width:100%"/></f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column style="width:35px">
                    <p:commandButton id="btnDelete" action="#{ctrlUsers.delUser(us.id, us.user)}" icon="ui-icon-closethick" title="Borrar registro" update="frm_users"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>