<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>SAP Tables</title>
    </h:head>
    <h:body>
        <ui:include src="/main/menu.xhtml" />
        <h3>Tablas SAP</h3>
        
        <p:fieldset legend="Agregar" collapsed="true" toggleable="true" toggleSpeed="500">
            <h:form id="frm_table">
                <p:outputLabel value="Nueva tabla: "/>
                <p:inputText id="txtName" value="#{ctrlSapTables.name}" required="true"/>
                <p:watermark for="txtName" value="Name" id="wmn" />    
                <p:commandButton id="btnGuardar" value="Guardar" action="#{ctrlSapTables.addSapTable()}" update="frm_tables" icon="ui-icon-plus" title="Guardar" />
            </h:form>
        </p:fieldset>
        
        <br></br>
        <br></br>
        
        <h:form id="frm_tables">
            <p:growl id="msgs" showDetail="true"/>
            <p:dataTable id="tables" var="tab" value="#{ctrlSapTables.sapTables}" editable="true" style="margin-bottom:20px">
                <f:facet name="header">Lista de tablas</f:facet>
                <p:ajax event="rowEdit" listener="#{ctrlSapTables.updSapTable}" update=":frm_tables:msgs" />
                <p:ajax event="rowEditCancel" listener="#{ctrlSapTables.onRowCancel}" update=":frm_tables:msgs" />
                
                <p:column headerText="Tabla" filterBy="#{tab.name}" filterMatchMode="contains">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{tab.name}" /></f:facet>
                        <f:facet name="input"><p:inputText value="#{tab.name}" style="width:100%" label="Nombre"/></f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column style="width:35px">
                    <p:rowEditor />  
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{tab.id}" style="display:none" /></f:facet>
                        <f:facet name="input"><p:inputText id="modelInput" value="#{tab.id}" style="display:none; width:100%"/></f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column style="width:35px">
                    <p:commandButton id="btnDelete" action="#{ctrlSapTables.delSapTable(tab.id, tab.name)}" icon="ui-icon-closethick" title="Borrar registro" update="frm_tables"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>