<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>LSWMs</title>
    </h:head>
    <h:body>
        <ui:include src="/main/menu.xhtml" />
        <h3>LSMWs</h3>
        
        <p:fieldset legend="Agregar" collapsed="true" toggleable="true" toggleSpeed="500">
            <h:form id="frm_lsmw">
                <p:outputLabel value="Nuevo LSMW: "/>
                <p:inputText id="txtTitle" value="#{ctrlLsmwLys.title}" required="true"/>
                <p:watermark for="txtTitle" value="Name" id="wmn" />    
                <p:commandButton id="btnGuardar" value="Guardar" action="#{ctrlLsmwLys.addLsmw()}" update="frm_lsmws" icon="ui-icon-plus" title="Guardar" />
            </h:form>
        </p:fieldset>
        
        <br></br>
        <br></br>
        
        <h:form id="frm_lsmws">
            <p:growl id="msgs" showDetail="true"/>
            <p:dataTable id="lsmws" var="l" value="#{ctrlLsmwLys.lsmws}" editable="true" style="margin-bottom:20px">
                <f:facet name="header">Lista de Layouts LSMW</f:facet>
                <p:ajax event="rowEdit" listener="#{ctrlLsmwLys.updLsmw}" update=":frm_lsmws:msgs" />
                <p:ajax event="rowEditCancel" listener="#{ctrlLsmwLys.onRowCancel}" update=":frm_lsmws:msgs" />
                
                <p:column headerText="Layout" filterBy="#{l.title}" filterMatchMode="contains">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{l.title}" /></f:facet>
                        <f:facet name="input"><p:inputText value="#{l.title}" style="width:100%" label="Nombre"/></f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column style="width:35px">
                    <p:rowEditor />  
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{l.id}" style="display:none" /></f:facet>
                        <f:facet name="input"><p:inputText id="modelInput" value="#{l.id}" style="display:none; width:100%"/></f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column style="width:35px">
                    <p:commandButton id="btnDelete" action="#{ctrlLsmwLys.delLsmw(l.id, l.title)}" icon="ui-icon-closethick" title="Borrar registro" update="frm_lsmws"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>

