<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>LSMW Fields</title>
    </h:head>
    <h:body>
        <ui:include src="/main/menu.xhtml" />
        <h3>Campos de LSMW</h3>
        
        <h:form id="frm_lsmws">
            <p:outputLabel value="Buscar LSMW: "/>
            <p:selectOneMenu id="lsmw" value="#{ctrlLsmwFields.id_lsmw}" dynamic="true" required="true" style="width:125px">
                <f:selectItem itemLabel="Elegir" itemValue="" />
                <f:selectItems value="#{ctrlLsmwFields.lsmws}" var="l" itemValue="#{l.id}" itemLabel="#{l.title}" />
            </p:selectOneMenu>
            <p:commandButton id="btnFind" value="Buscar" action="#{ctrlLsmwFields.findLsmwFields()}" update="frm_lsmws frm_lfield frm_lfields" icon="ui-icon-search" title="Buscar" />
        </h:form>
        
        <br></br>
        <br></br>
        
        <p:fieldset legend="Agregar" collapsed="true" toggleable="true" toggleSpeed="500">
            <h:form id="frm_lfield">
                <p:outputLabel value="Nuevo campo: "/>
                <p:inputText id="txtField" value="#{ctrlLsmwFields.field}" required="true"/>
                <p:watermark for="txtField" value="Name" id="wmn" />    
                <p:commandButton id="btnGuardar" value="Guardar" action="#{ctrlLsmwFields.addLsmwField()}" update="frm_lfields" icon="ui-icon-plus" title="Guardar" />
            </h:form>
        </p:fieldset>
        
        <br></br>
        <br></br>
        
        <h:form id="frm_lfields">
            <p:growl id="msgs" showDetail="true"/>
            <p:dataTable id="fields" var="f" value="#{ctrlLsmwFields.lsmwFields}" editable="true" style="margin-bottom:20px">
                <f:facet name="header">Lista de campos</f:facet>
                <p:ajax event="rowEdit" listener="#{ctrlLsmwFields.updLsmwField}" update=":frm_lfields:msgs" />
                <p:ajax event="rowEditCancel" listener="#{ctrlLsmwFields.onRowCancel}" update=":frm_lfields:msgs" />
                
                <p:column headerText="Campo" filterBy="#{f.field}" filterMatchMode="contains">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{f.field}" /></f:facet>
                        <f:facet name="input"><p:inputText value="#{f.field}" style="width:100%" label="Nombre"/></f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column style="width:35px">
                    <p:rowEditor />  
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{f.id}" style="display:none" /></f:facet>
                        <f:facet name="input"><p:inputText id="modelInput" value="#{f.id}" style="display:none; width:100%"/></f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column style="width:35px">
                    <p:commandButton id="btnDelete" action="#{ctrlLsmwFields.delLsmwField(f.id, f.field)}" icon="ui-icon-closethick" title="Borrar registro" update="frm_lfields"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>

