<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Modules</title>
    </h:head>
    <h:body>
        <ui:include src="/main/menu.xhtml" />
        <h3>Módulos</h3>
        
        <h:form id="frm_modules">
            <p:growl id="msgs" showDetail="true"/>
            <p:dataTable id="modules" var="mdl" value="#{ctrlModules.modules}" editable="true" style="margin-bottom:20px">
                <f:facet name="header">Módulos</f:facet>
                
                <p:column style="width:35px">
                    <p:selectBooleanCheckbox value="#{mdl.active}"/>
                </p:column>
                
                <p:column>
                    <h:outputText value="#{mdl.name}" />
                </p:column>
            </p:dataTable>
            <p:commandButton id="btnEdit" action="#{ctrlModules.updModules()}" value="Guardar" title="Actualizar permisos" update="frm_modules"/>
        </h:form>
    </h:body>
</html>