<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Local Management</title>
    </h:head>
    <h:body>
        <ui:include src="/main/menu.xhtml" />
        <h3>Administración local</h3>
        
        <h:form id="frm_localmanage">
            <p:growl id="msgs" showDetail="true" />
            
            <p:fieldset legend="Operaciones con bases de datos" collapsed="true" toggleable="true" toggleSpeed="500">
                <h:panelGrid columns="3" cellpadding="20">
                    <p:panel id="backup" header="Respladar" style="height: 250px" >
                        <br></br><br></br>
                        <p:commandButton value="Base de manipulación" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" update=":frm_localmanage:msgs" icon="ui-icon-circle-triangle-e" title="Base de manipulación de datos" style="width: 100%" >
                            <p:fileDownload value="#{ctrlLocalManage.backup('mshandling')}" />
                        </p:commandButton>
                        <br></br><br></br><br></br>
                        <p:commandButton id="btnBckMrr" value="Base espejo SAP" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" update=":frm_localmanage:msgs" icon="ui-icon-circle-triangle-e" title="Base espejo SAP" style="width: 100%" >
                            <p:fileDownload value="#{ctrlLocalManage.backup('msmirror')}" />
                        </p:commandButton>
                    </p:panel>
                    <p:panel id="restore" header="Restaurar" style="height: 250px">
                        <h:outputLabel for="btnRstHdl" value="Base de manipulación" />
                        <p:fileUpload id="btnRstHdl" fileUploadListener="#{ctrlLocalManage.restore}" mode="advanced" dragDropSupport="false" update=":frm_localmanage:msgs" sizeLimit="100000" fileLimit="3" allowTypes="/(\.|\/)(txt|sql)$/" >
                            <f:attribute name="db" value="mshandling" />
                        </p:fileUpload>
                        <br></br>
                        <h:outputLabel for="btnRstMrr" value="Base espejo SAP" />
                        <p:fileUpload id="btnRstMrr" fileUploadListener="#{ctrlLocalManage.restore}" mode="advanced" dragDropSupport="false" update=":frm_localmanage:msgs" sizeLimit="100000" fileLimit="3" allowTypes="/(\.|\/)(txt|sql)$/" >
                            <f:attribute name="db" value="msmirror" />
                        </p:fileUpload>
                    </p:panel>
                    <p:panel id="clean" header="Limpiar" style="height: 250px">
                        <br></br><br></br>
                        <p:commandButton id="btnClsHndl" value="Base de manipulación" action="#{ctrlLocalManage.clean('mshandling')}" update=":frm_localmanage:msgs" icon="ui-icon-circle-triangle-e" title="Base de manipulación de datos" style="width: 100%" />
                        <br></br><br></br><br></br>
                        <p:commandButton id="btnClsMrr" value="Base espejo SAP" action="#{ctrlLocalManage.clean('msmirror')}" update=":frm_localmanage:msgs" icon="ui-icon-circle-triangle-e" title="Base espejo SAP" style="width: 100%" />
                    </p:panel>
                </h:panelGrid>
            </p:fieldset>
            
            <br></br><br></br>
            
            <p:fieldset legend="Importación Masiva" toggleable="true" toggleSpeed="500">
                <h:panelGrid columns="2" cellpadding="5">
                    <p:panel id="Import" header="Importar" style="height: 150px" >
                        <h:panelGrid id="interPanelA" columns="2">
                            <p:outputLabel for="serverN" value="Servidor SAP:" />
                            <p:selectOneMenu id="serverN" value="#{ctrlLocalManage.idsc}" dynamic="true" rendered="true" >
                                <f:selectItem itemLabel="Elegir" itemValue="" />
                                <f:selectItems value="#{ctrlLocalManage.sapConns}" var="sc" itemValue="#{sc.id}" itemLabel="#{sc.name}" />
                            </p:selectOneMenu>
                            <p:outputLabel for="serverP" value="Contraseña:" />
                            <p:password id="serverP" value="#{ctrlLocalManage.passwd}" />
                            <p:commandButton id="btnImport" value="Comenzar" action="#{ctrlLocalManage.massiveImport()}" onstart="PF('progressPanel').show();" oncomplete="PF('progressPanel').close();" update=":frm_localmanage:msgs" icon="ui-icon-circle-triangle-e" title="Comenzar importación masiva de datos" />
                        </h:panelGrid>
                    </p:panel>
                    <p:panel id="Transform" header="Transformar" style="height: 150px" >
                        <h:panelGrid id="interPanelB" columns="2">
                            <p:outputLabel for="btnTransform" value="Datos en LSMW:" />
                            <br></br><br></br>
                            <p:commandButton id="btnTransform" value="Comenzar" action="#{ctrlLocalManage.massiveTransform()}" onstart="PF('progressPanel').show();" oncomplete="PF('progressPanel').close();" update=":frm_localmanage:msgs" icon="ui-icon-circle-triangle-e" title="Comenzar transformación masiva de datos" />
                        </h:panelGrid>                        
                    </p:panel>
                </h:panelGrid>
                
                <p:panel widgetVar="progressPanel" visible="false" style="border:none;" closable="true" toggleable="true">
                    <p:progressBar mode="indeterminate"/>
                </p:panel>
            </p:fieldset>
            
            <br></br><br></br>
            
            <!--
            <p:fieldset legend="Monitor de registros" style="margin-bottom:20px">
                <h:panelGrid columns="1" cellpadding="5">
                    <p:inputTextarea rows="10" cols="100" value="Logs, logs y más logs" disabled="true" queryDelay="750" minQueryLength="4" />
                </h:panelGrid>
            </p:fieldset>
            -->
        </h:form>
    </h:body>
</html>

